h4{
    margin-top: 1%;
    text-align: center;
    margin-bottom: 1%;
}

* {
    border-radius: 0px;
  }
  
  .main-bg {
    color: var(--main-font-4-color);
  }
  
  .main-bg-2 {
    color: var(--main-font-3-color);
  }
  
  .card {
    background: inherit;
  }
  
  
  .field-full-width {
    width: 100%;
  }
  
  
  mat-datepicker-toggle{
    outline-style: none;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .time{
    // padding: 5px 0;
    font-size: 1.5em;
    padding-left: 50%;
    // width: 100px;
  }

  button{
    outline: none;
  }

  * {
    border-radius: 0px;
  }
  
  .main-bg {
    color: var(--main-font-4-color);
  }
  
  .main-bg-2 {
    color: var(--main-font-3-color);
  }
  
  .card {
    background: inherit;
  }
  
  .header-text p{
    color:  var(--main-font-3-color);
  }



// table
.title-header {
    text-align: center;
    color: var(--main-font-4-color);
  }
  
  .outline-0 {
    outline: 0;
  }
  
  
  
  .mat-form-field {
    text-align: center;
    font-size: 14px;
    width: 60%;
  }
  
  .table_header {
    text-align: center;
    font-size: 15px;
    color: var(--main-font-4-color);
  }
  
  
  .action-btn:hover {
    color: var(--main-font-4-color);
    /* background-color: var(--main-bg-2-color); */
  }
  
  
  .row-style {
    border-left: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  
  .row-style:hover {
    border-left: 3px solid var(--main-bg-2-color);
    background-color: rgb(250, 250, 250);
  }
  
  .orange{
    color: var(--main-font-3-color);
  }

  .green{
    color: var(--main-font-4-color);
  }
  