<!-- 
  File Name :- AllVideos.html	            Created Date :-28-08-2020           Created By :- Rambabu (Emp. Id : VTPL/BLR/0013)			

  Description :- This component is responsible to display the All discovery section

===============================================================================================================================
  Sl.No			    Description			                          Modified By		    	                        Modified Date	
===============================================================================================================================

-->


<h4 class="green">Discovery Sections</h4>
<div class="text-right">
	<button type="button" class="btn btn-danger add-btn" (click)="openDialog()">Add Section</button>
</div>
<table id="paginationSimpleNumbers" class="display" style="width:100%">
	<thead class="orange">
		<tr>
			<th class="th-sm">ID
			</th>

			<th class="th-sm">Name
			</th>
			<th class="th-sm">Created
			</th>
			<th class="th-sm">Action
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let list of discoverList ; let i = index;">
			<td>{{i+1}}</td>
			<td>{{list.sectionName}}</td>
			<td>{{list.createdDate}}</td>
			<td>
				<mat-icon color="accent" class="edit-btn" title="Edit" (click)="openEditDialog(list)">edit</mat-icon>
				<mat-icon color="warn" class="delete-btn" title="Delete" (click)="routeToDeleteDiscoverSection(list)">
					delete_forever</mat-icon>
			</td>
		</tr>

	</tbody>

	<tfoot class="orange">

		<tr>
			<th class="th-sm">ID
			</th>

			<th class="th-sm">Name
			</th>
			<th class="th-sm">Created
			</th>
			<th class="th-sm">Action
			</th>
		</tr>
	</tfoot>
</table>