<!-- 
File Name :-changepassword.component.html	   	Created Date :-01-09-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this component is uded to change password, 					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<div class="card-title">
    <h4 class="text-center main-bg pt-3"> - Change Password - </h4>
</div>
<mat-vertical-stepper [linear]="isLinear" #stepper class="shadow">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your current password</ng-template>
            <mat-form-field>
                <mat-label>Current Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your current password"
                    formControlName="firstCtrl" #firstCtrl required>
                <button class="hide-btn" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" class="mb-2 mr-3 submit-btn" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your new password</ng-template>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="secondCtrl"
                    placeholder="Enter your new password" #secondCtrl required>
                <button class="hide-btn" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <p style="color: red; font-size: small;"
                *ngIf="((secondCtrl.value.length < 8) || (secondCtrl.value.length > 15))">
                New password must be between 8 and 15 characters.
            </p>
            <div>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="thirdCtrl"
                        placeholder="Re-Enter your new password" #thirdCtrl required>
                    <button class="hide-btn" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <p style="color: red; font-size: small;" *ngIf="(secondCtrl.value != thirdCtrl.value)">
                    New passwords should match with confirm password.
                </p>
            </div>
            <div>
                <button mat-raised-button color="warn" class="mb-2 mr-3" matStepperPrevious>Back</button>
                <button mat-raised-button class="btn btn-success" color="accent" (click)="changePassword()"
                    matStepperNext>Change Password</button>
            </div>
        </form>
    </mat-step>
    <!-- <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Fill out your new password for confirmation</ng-template>

        </form>
    </mat-step> -->
    <mat-step>
        <ng-template matStepLabel>Status</ng-template>
        <p [style.color]="color">{{changePasswordStatus}}</p>

        <!-- <div>
            <button mat-raised-button color="warn" class="mb-2 mr-3 reset-btn " matStepperPrevious>Back</button>
            <button mat-raised-button color="warn" class="mb-2 mr-3 reset-btn " (click)="stepper.reset()">Reset</button>
        </div> -->
    </mat-step>
</mat-vertical-stepper>